<!DOCTYPE html>
<html>
  <head>
    <title>Chirpapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar">
        <div class="container-fluid groval-nav">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Chirpapp</a>
            </div>
          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true">Top</span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true">Profile</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>運営会社DIVE INTO CODE株式会社</p>
      <p>© 2015-2016 DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>
